#Папки
.idea/
.gradle/
build/
out/
classes/
log/
logs/
catalina*/
target/
tmp/
ext*/
ext/
node_modules/
.DS_Store
dist

#Расширения
*.log
*.retry

#JAVA
*.iml
*.ipr
*.iws

#latex
*.toc
*.out
*.synctex.gz
*.aux
*.lol
*.idx

#Темп файлы
*.*~
~*
*~
*~*

#Исключения
!.gitignore
.gradle/7.5.1/executionHistory/executionHistory.bin
*.bin
.gradle/7.5.1/executionHistory/executionHistory.lock
*.bin
*.bin
